<div class="relative">
	<button
		id="dropdownInformationButton"
		data-dropdown-toggle="dropdownInformation"
		data-dropdown-placement="top"
		data-dropdown-offset-skidding="150"
		class="inline-flex items-center rounded-lg bg-gray-800 px-5 py-2.5 text-center text-sm font-medium text-white ring-1 ring-white hover:bg-gray-800 focus:outline-none"
		type="button">
		Layers
	</button>

	<div id="dropdownInformation" class="z-10 hidden w-96 divide-y divide-white rounded-lg bg-gray-800 shadow">
		<form class="space-y-4 px-4 py-3 text-sm text-white" [formGroup]="layersSettingsForm">
			<h3>3D tiles</h3>

			<div>
				<label class="inline-flex cursor-pointer items-center">
					<input type="checkbox" formControlName="googleTiles" value="" class="peer sr-only" />
					<div
						class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-teal-600 peer-focus:ring-4 peer-focus:ring-teal-300 after:absolute after:start-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full"></div>
					<span class="ms-3 text-sm font-medium text-white">Google photorealistic tiles</span>
				</label>
				<!--<div class="ml-14">
					<label for="google-tiles-opacity-range" class="mb-2 block text-sm text-white">Opacity</label>
					<input
						id="google-tiles-opacity-range"
						type="range"
						formControlName="googleTilesOpacity"
						value="1"
						min="0"
						max="1"
						step="0.01"
						class="h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200" />
				</div>-->
			</div>
			<div>
				<label class="inline-flex cursor-pointer items-center">
					<input type="checkbox" formControlName="swisstopoBuildingsTiles" value="" class="peer sr-only" />
					<div
						class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-teal-600 peer-focus:ring-4 peer-focus:ring-teal-300 after:absolute after:start-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full"></div>
					<span class="ms-3 text-sm font-medium text-white">swisstopo swissBUILDINGS3D tiles</span>
				</label>
			</div>
			<div>
				<label class="inline-flex cursor-pointer items-center">
					<input type="checkbox" formControlName="swisstopoVegetationTiles" value="" class="peer sr-only" />
					<div
						class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-teal-600 peer-focus:ring-4 peer-focus:ring-teal-300 after:absolute after:start-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full"></div>
					<span class="ms-3 text-sm font-medium text-white">swisstopo vegetation 3D tiles</span>
				</label>
			</div>
			<div>
				<label class="inline-flex cursor-pointer items-center">
					<input type="checkbox" formControlName="adminOverlay" value="" class="peer sr-only" />
					<div
						class="peer relative h-6 w-11 rounded-full bg-gray-200 peer-checked:bg-teal-600 peer-focus:ring-4 peer-focus:ring-teal-300 after:absolute after:start-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:after:translate-x-full peer-checked:after:border-white rtl:peer-checked:after:-translate-x-full"></div>
					<span class="ms-3 text-sm font-medium text-white">Administrative overlay</span>
				</label>
			</div>

			<!-- swisstopo overlay layer and time dimension selection -->
			@if (swisstopoWMTSCapabilities()) {
				<div>
					<h3 class="mt-6 mb-3">Imagery</h3>

					<div>
						<label for="swisstopo-overlay-layer-select" class="mb-2 block text-sm font-medium text-white"
							>Layer</label
						>
						<select
							id="swisstopo-overlay-layer-select"
							formControlName="swisstopoOverlayLayer"
							class="block w-full rounded-lg border border-gray-300 bg-gray-700 px-3 py-2 text-white placeholder-gray-400 focus:border-teal-500 focus:ring-teal-500">
							@for (layer of availableWMTSOverlayLayers(); track layer.identifier) {
								<option [value]="layer.identifier">
									{{ layer.title }}
								</option>
							}
						</select>
					</div>

					<div class="mt-3">
						<label
							for="swisstopo-overlay-layer--time-select"
							class="mb-2 block text-sm font-medium text-white"
							>Year</label
						>
						<select
							id="swisstopo-overlay-layer--time-select"
							formControlName="swisstopoOverlayTimeDimension"
							class="block w-full rounded-lg border border-gray-300 bg-gray-700 px-3 py-2 text-white placeholder-gray-400 focus:border-teal-500 focus:ring-teal-500">
							@for (year of availableTimeDimensionsForSelectedWMTSOverlayLayer(); track year) {
								<option [value]="year">
									{{ year === 'current' ? 'Latest' : year }}
								</option>
							}
						</select>
					</div>
				</div>
			}
		</form>
	</div>
</div>
