@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin 'flowbite/plugin';
@source '../node_modules/flowbite';

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}
	h2 {
		font-size: var(--text-xl);
	}
	h3 {
		font-size: var(--text-lg);
	}
}

button {
	line-height: 100%;
}

.lil-gui.autoPlace {
	left: 0 !important;
	top: 45px !important;
	right: unset !important;
}
