@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .h1 {
    @apply mb-8 text-2xl font-bold md:text-4xl;
  }
  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }
  h3,
  .h3 {
    @apply text-lg font-semibold md:text-2xl;
  }
  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }
  h5,
  .h5 {
    @apply text-base font-semibold md:text-lg;
  }
  
  /*@font-face {
    font-family: 'inter';
    src: url('assets/fonts/inter.ttf') format('truetype');
  }

  * {
    @apply font-inter;
  }

  .layout {
    @apply ml-auto mr-auto flex w-layout max-w-7xl flex-grow flex-col;
  }

  .base-view {
    @apply flex flex-col;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }

  td {
    @apply text-text;
  }

  button.action {
    @apply rounded-md border px-6 py-2 font-bold enabled:bg-secondary enabled:text-white disabled:bg-label-2 disabled:text-white;
  }
  button.edit {
    @apply ml-1 font-medium leading-7 text-secondary underline hover:cursor-pointer;
  }

  input {
    @apply px-6 py-2 text-text;
  }
  label {
    @apply text-label;
  }*/
}

button {
	line-height: 100%;
}